// gral
a:focus, a:hover
  color: black

// header
header
  .page-brand
    width: 120px !important
    background: linear-gradient(150.05deg, #FC0F85 6.69%, #9300AB 88.08%)
  .logo
    width: 70%

#calendar
  h2
    margin-top: 8px
  //   margin-bottom: 6px
  .fc-toolbar
    vertical-align: middle
    align-self: center
    .fc-center
      margin: 30px 0 10px

.ibox-tools > a
  color: white !important
  font-size: 13px !important

.ibox-tools .btn
  font-size: 13px !important

.dataTables_wrapper
  // margin-top: 30px
  margin-right: -15px
  margin-left: -15px

// Forzado

.dataTables_length
  margin-left: 6px

table
  .media-img
    margin-right: 10px

.badge-point
  margin-right: 4px

// .canvas-item

.clase
  display: flex
  justify-content: space-between
  .card
  .clase-graphics
    display: flex
    justify-content: flex-end
    // width: 40%
    // text-align: right
    .canvas-item
      padding-right: 0
    .data-item
      margin-left: 22px
      position: relative
      width: 45%
      .icon-people
        display: inline-block
        margin-right: 10px
        i
          font-size: 34px
          font-weight: 700
      h3
        display: inline-block
        font-size: 40px

.easypie
  padding: 0


// .styles-select
.ms-container
  width: 100% !important
  .ms-selectable, .ms-selection
    width: 48% !important

//Sidebar
.page-sidebar
  position: fixed
  background: #565353
  width: 120px
  // background: linear-gradient(95.73deg, #01BCC8 0.75%, #0396B6 81.3%)
  .sidebar-collapse
  .nav-label
    font-size: 12px !important

.page-sidebar ul li a
  padding: 15px 15px

.side-menu>li.active>a
  background-color: transparent !important
  color: white
  i, span
    background: linear-gradient(95.73deg, #00CCDB 0.75%, #04ADD3 81.3%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  span
    font-weight: 600

.side-menu>li.active:hover>a
  color: white

.side-menu>li:hover>a
  background-color: transparent !important

.side-menu li .sidebar-item-icon
  font-size: 25px

.side-menu li .nav-label
  margin-top: 5px

.side-menu>li .nav-2-level>ul
  background: #565353

.side-menu>li .nav-2-level>ul::before
  border-right-color: #565353

//buttons & badges

.badge
  padding: 4px 8px

.btn-primary, .btn-success
  background: #35AF17
  border-color: transparent !important
  // -webkit-animation: buttonGradient 2s ease infinite
  // -moz-animation: buttonGradient 3s ease infinite
  // -o-animation: buttonGradient 3s ease infinite
  // animation: buttonGradient 3s ease infinite
  transition: all ease 0.4s
  &:hover, &:active, &:focus
    background: #35AF17
    // background: linear-gradient(108.43deg, #35AF17 11.38%, #259F06 63.4%) !important

.btn-message
  background: #F1BC00
  border-color: transparent !important
  &:hover, &:active, &:focus
    background: #F1BC00

.btn-danger
  background: red
  border-color: transparent !important
  &:hover, &:active, &:focus
    background: red

.btn-pay, .btn-edit
  background: #00A8F1
  border-color: transparent !important
  &:hover, &:active, &:focus
    background: #00A8F1

.badge-success
  background: #35AF17

.button-little
  font-size: 12px

.btn-icon-only
  height: 37px

  // Pagination
.pagination .active>a
  background-color: gray !important
  border-color: gray !important

.pagination li>a:hover
  color: black

// .side-menu>li.active>a
//       li.active
//         background-color: transparent !important
// //
//
//
//
//
//
//
//
//
//
//

//
//
//
//
//
//
