body.body-auth {
    background-image: url("/img/back-login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

a:focus,
a:hover {
    color: black
}

.content-wrapper {
    background: transparent!important
}

.content-wrapper-login {
    margin-left: 0
}

.content-wrapper-login .card-header {
    width: 100%;
    background: -webkit-linear-gradient(299.95deg, #FC0F85 6.69%, #9300AB 88.08%);
    background: -o-linear-gradient(299.95deg, #FC0F85 6.69%, #9300AB 88.08%);
    background: linear-gradient(150.05deg, #FC0F85 6.69%, #9300AB 88.08%);
    margin: auto;
    text-align: center
}

.content-wrapper-login .card-header img {
    width: 120px;
    margin: auto;
    text-align: center
}

.d-none {
    display: none
}

header .page-brand {
    width: 120px!important;
    background: -webkit-linear-gradient(299.95deg, #FC0F85 6.69%, #9300AB 88.08%);
    background: -o-linear-gradient(299.95deg, #FC0F85 6.69%, #9300AB 88.08%);
    background: linear-gradient(150.05deg, #FC0F85 6.69%, #9300AB 88.08%)
}

header .logo {
    width: 70%
}

.header .admin-dropdown-menu .dropdown-header {
    background: -webkit-linear-gradient(299.95deg, #FC0F85 6.69%, #9300AB 88.08%);
    background: -o-linear-gradient(299.95deg, #FC0F85 6.69%, #9300AB 88.08%);
    background: linear-gradient(150.05deg, #FC0F85 6.69%, #9300AB 88.08%)
}

.dropdown-arrow .dropdown-arrow:after {
    background-color: transparent!important
}

.admin-dropdown-menu {
    margin-top: 15px
}

#calendar h2 {
    margin-top: 8px
}

#calendar .fc-toolbar {
    vertical-align: middle;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

#calendar .fc-toolbar .fc-center {
    margin: 30px 0 10px
}

.ibox-tools>a {
    color: white!important;
    font-size: 13px!important
}

.ibox-tools .btn {
    font-size: 13px!important
}

.dataTables_wrapper {
    margin-right: -15px;
    margin-left: -15px
}

.dataTables_length {
    margin-left: 6px
}

table .media-img {
    margin-right: 10px
}

.badge-point {
    margin-right: 4px
}

.clase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.clase .clase-graphics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.clase .clase-graphics .canvas-item {
    padding-right: 0
}

.clase .clase-graphics .data-item {
    margin-left: 22px;
    position: relative;
    width: 45%
}

.clase .clase-graphics .data-item .icon-people {
    display: inline-block;
    margin-right: 10px
}

.clase .clase-graphics .data-item .icon-people i {
    font-size: 34px;
    font-weight: 700
}

.clase .clase-graphics .data-item h3 {
    display: inline-block;
    font-size: 40px
}

.easypie {
    padding: 0
}

.ms-container {
    width: 100%!important
}

.ms-container .ms-selectable,
.ms-container .ms-selection {
    width: 48%!important
}

.page-sidebar {
    /*position:fixed*/
    ;
    background: #565353;
    width: 120px
}

.page-sidebar .sidebar-collapse {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.page-sidebar .nav-label {
    font-size: 12px!important
}

.page-sidebar ul li a {
    padding: 15px 15px
}

.side-menu>li.active>a {
    background-color: transparent!important;
    color: white
}

.side-menu>li.active>a i,
.side-menu>li.active>a span {
    background: -webkit-linear-gradient(354.27deg, #00CCDB 0.75%, #04ADD3 81.3%);
    background: -o-linear-gradient(354.27deg, #00CCDB 0.75%, #04ADD3 81.3%);
    background: linear-gradient(95.73deg, #00CCDB 0.75%, #04ADD3 81.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.side-menu>li.active>a span {
    font-weight: 600
}

.side-menu>li.active:hover>a {
    color: white
}

.side-menu>li:hover>a {
    background-color: transparent!important
}

.side-menu li .sidebar-item-icon {
    font-size: 25px
}

.side-menu li .nav-label {
    margin-top: 5px
}

.side-menu>li .nav-2-level>ul {
    background: #565353
}

.side-menu>li .nav-2-level>ul:before {
    border-right-color: #565353
}

.brand {
    position: fixed;
    bottom: 0;
    width: 120px;
    text-align: center;
    z-index: -1
}

.brand img {
    padding-bottom: 20px;
    width: 50px
}

@media (max-height:720px) {
    .brand {
        display: none
    }
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.loading-box {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    color: black;
    width: 100%;
    height: 95%;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 999;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s
}

.loading-box .spinner {
    display: inline-block;
    margin-right: 50px
}

.loading-box .spinner:before {
    content: '';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 26px;
    height: 26px;
    margin-top: -12px;
    border-radius: 50%;
    border-top: 2px solid black;
    border-right: 2px solid transparent;
    -webkit-animation: spinner .6s linear infinite;
    animation: spinner .6s linear infinite
}

.loading-box h1 {
    margin: 0;
    font-size: 24px;
    display: inline-block
}

.badge {
    padding: 4px 8px
}

.btn-primary,
.btn-success {
    background: #35AF17;
    border-color: transparent!important;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:hover {
    background: #35AF17
}

.btn-message {
    background: #F1BC00;
    border-color: transparent!important
}

.btn-message:active,
.btn-message:focus,
.btn-message:hover {
    background: #F1BC00
}

.btn-danger {
    background: red;
    border-color: transparent!important
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
    background: red
}

.btn-edit,
.btn-pay {
    background: #00A8F1;
    border-color: transparent!important
}

.btn-edit:active,
.btn-edit:focus,
.btn-edit:hover,
.btn-pay:active,
.btn-pay:focus,
.btn-pay:hover {
    background: #00A8F1
}

.badge-success {
    background: #35AF17
}

.button-little {
    font-size: 12px
}

.btn-icon-only {
    height: 37px
}

.pagination .active>a {
    background-color: gray!important;
    border-color: gray!important
}

.pagination li>a:hover {
    color: black
}

.admin-menu-content {
    padding: 20px 30px 30px!important
}

.proximas-clases .form-control {
    width: auto;
    display: inline-block
}

.proximas-clases #next-clases-table_filter {
    text-align: right;
    margin-bottom: 6px
}

.proximas-clases #next-clases-table_filter label span {
    margin-right: 8px
}

.proximas-clases #next-clases-table_info {
    display: none
}

.clases-pasadas .form-control {
    width: auto;
    display: inline-block
}

.clases-pasadas #past-classes-table_filter {
    text-align: right;
    margin-bottom: 6px
}

.clases-pasadas #past-classes-table_filter label span {
    margin-right: 8px
}

.messages .dataTables_length {
    margin: 16px 0 8px
}

.messages .dataTables_length label {
    width: 100%
}

.messages .dataTables_length label p,
.messages .dataTables_length label select {
    display: inline-block;
    width: auto
}

.messages #table-inbox_filter {
    margin: 16px 0 8px;
    text-align: right
}

.messages #table-inbox_filter label {
    width: auto
}

.messages #table-inbox_filter label input {
    width: auto;
    display: inline-block;
    margin-left: 4px
}

.messages .messages-body a.media-img {
    margin: 0
}

.messages .messages-body a.media-img img {
    margin-left: 14px
}

.messages .messages-body h5 {
    margin: 0;
    margin-bottom: 6px
}

.messages .messages-body small {
    margin-bottom: 5px;
    display: block
}

.messages .messages-body .badge {
    padding: 2px 8px
}

.modal .modal-content {
    margin: auto
}

.modal .messages-modal-body input,
.modal .messages-modal-body label,
.modal .messages-modal-body textarea {
    width: 100%
}

.modal .messages-modal-body input {
    margin-bottom: 6px
}

.modal .messages-modal-body textarea {
    height: 100px;
    margin-bottom: 6px
}

.modal .messages-modal-body button {
    margin-bottom: 12px
}

.plans-body .dataTables_length {
    margin-bottom: 10px
}

.plans-body #students-table_filter {
    margin-bottom: 10px
}

.plans-body .dataTables_info {
    display: none
}

.plans-body .pagination {
    margin-top: 16px!important
}

.pagos-body .dataTables_length {
    margin-bottom: 18px;
    width: 100%
}

.pagos-body .dataTables_length label {
    width: auto
}

.pagos-body .dataTables_length label select {
    display: inline-block;
    width: auto
}

.pagos-body #payments-table_filter {
    margin-bottom: 18px;
    text-align: right
}

.pagos-body #payments-table_filter label {
    width: auto
}

.pagos-body #payments-table_filter label input {
    display: inline-block;
    width: auto;
    margin-left: 8px
}

.pagos-body .dataTables_info {
    display: none
}

.pagos-body #payments-table_paginate {
    margin-top: 20px
}

.img-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 54px;
    height: 54px;
    margin-right: 10px;
    border-radius: 60px;
    background: rgba(128, 128, 128, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.img-avatar-mini {
    width: 34px;
    height: 34px;
    margin-right: 0;
    margin-left: 10px
}

.img-avatar-header {
    vertical-align: top;
    margin-right: 16px;
    width: 70px;
    height: 70px
}

.img-avatar-messages {
    vertical-align: top;
    margin-right: 8px;
    width: 70px;
    height: 70px
}

.img-avatar-admin {
    margin: 0;
    margin-right: 18px;
    width: 90px;
    height: 90px;
    border-radius: 100px
}

.upload-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px
}

.upload-box img {
    width: 50px;
    margin-right: 14px
}

.upload-box label {
    margin-bottom: 0
}

.upload-box .img {
    width: 50px;
    height: 50px;
    margin-right: 14px;
    border-radius: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.dataTables_wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0
}

.fc-content-skeleton .fc-axis {
    width: 51px!important
}

.app-logos img.icon-ios {
    margin: 4px 6px;
    width: 160px;
    height: 100%
}

.app-logos img.icon-android {
    margin: 4px 6px;
    width: 175px;
    height: 100%
}

.bootstrap-tagsinput {
    overflow-y: scroll;
    max-height: 200px;
}

.modal-dialog-email {
    max-width: 1000px;
    margin: 30px auto;
}

.bootstrap-tagsinput span.label{
    background-color: #3e7cb3;
}

.bootstrap-tagsinput .tag {
    color: #fdfff4;
}

